<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="../../assets/images/logo.png" alt="" class="logo">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Upload a file</a>
          <a class="nav-link" href="#">JSON</a>
        </div>
      </div>
    </div>
  </nav> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="upload-file" routerLinkActive="active">Upload File</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "json-file" routerLinkActive="active">Send JSON</a>
        </li>
      </ul>
      <img src="../../assets/images/logo.png" alt="" class="logo">
    </div>
  </nav>

