
body{
    background-image: url("./assets/images/background.png");
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -66px;
}